<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<!--List Directors with edit and add movie options -->
<div th:fragment="listdirectors" th:each="eachDirector:${directorList}">
    <span th:text="${eachDirector.fullName}"></span>
    <span class="badge badge-light" th:if="${#lists.size(eachDirector.myMovies)&gt;0}" th:text="${#lists.size(eachDirector.myMovies)}"></span>
    -  <a th:href="@{/editDirector?(id=${eachDirector.id})}">Edit</a> - <a th:href="@{/newmovie?(directorid=${eachDirector.id})}">Add Movie</a>

    <!--Show this span only if there is at least one movie. Show the number of movies (i.e. size of the list) in the director's movie list.-->
    <div th:each="eachMovie:${eachDirector.myMovies}">
        <p th:text="${eachMovie.title}"></p>
    </div>
</div>
</body>
</html>